#Logs
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

#Composer
vendor/

#Uploads
public/uploads/*
public/documentos/sunat/*
!public/documentos/sunat/index.html

#Configuration
application/config/production/*